/* CSS styles for BlueMountainBeadCo website created by Matt Ingold */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	margin: 0;
	padding: 0;
	/* background-color: #D6BB97; */
}

.container {
	overflow-x: hidden;
}

header {
	/*background-color: #97B2D6;*/
	background-color: #ffffff;
	padding-top: 5px;
	width: 100%;
	min-height: 100px;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 1px;
}

nav {
	height: auto;
	text-align: center;
	color: #97B2D6;
	background-color: #ffffff;
}

nav li {
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 5px;
}

nav li a {
	text-decoration: none;
}

.MSJ-banner {
	background-color: #ffffff;
	text-align: center;
}

#background-img-container {
	min-width: 100%;

}

#boho-banner {
	padding: 10rem 5%;
	position: relative;
	background: rgba(0, 0, 0, 0.3); /*If our image is bright, we can tone it down with this darker overlay */
	min-width: 100%;
	min-height: 100%;
}

#boho-banner:after {
	content: "";
	position: absolute;
	background-image: url('../images/example.png');
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.5; /* Tone the image down further by giving it transparency */
}

#cards {
	background-color: #ffffff;
	display: inline;
}

.cards {
	padding: 0;
	margin: 0;
	border: solid 2px;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#container > div {
	width: 22%;
	height: 250px;
	border: 2px dashed red;
}

#shop-tagline {
	text-align: center;
	padding-top: 20px;
}

#shop-all {
	background-image: url('../images/vasemannequin.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 22%;
	height: 250px;
	float: left;
	display: inline-block;
	padding: 0;
	margin: auto;
}

#shop-necklaces {
	background-image: url('../images/crystal-wrap-choker.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 22%;
	height: 250px;
	display: inline-block;
	float: left;
	padding: 0;
	margin: auto;
}

#shop-bracelets {
	background-image: url('../images/beaded-stretch-bracelets.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 22%;
	height: 250px;
	display: inline-block;
	padding: 0;
	margin: auto;
}

#shop-newest {
	background-image: url('../images/rosary-chains.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 22%;
	height: 250px;
	display: inline-block;
	padding: 0;
	float: right;
	margin: auto;
}



















/*
#product-categories {
	width: 100%;
	text-align: center;
}

#product-categories li {
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
}

#product-categories a {
	color: #ffffff;
	text-decoration: none;	
}


.container {
	width: 80%;
	margin: auto;
}


.products {
	display: inline-block;
	text-align: center;
	border-bottom:#FFFFFF 4px solid;
	width: 100%;
	margin: auto;
	border-top: #FFFFFF 4px solid;
}

.product-container {
	width: 30%;
	float: left;
	text-align: center;
	text-decoration: none;
	border: #97B2D6 2px solid;
	min-height: 500px;
}

.product-container:hover {
	background-color: #C0C0C0;
}

.product-container img {
	max-height: 228px;
	max-width: 228px;
}

.product-container p {
	font-size: .85 em;
	color: #ffffff;
}

footer {
	clear: both;
	font-size: .50em;
	font-family: times, courier, serif;
	margin-top: 50px;
	text-align: right;
}

#banner {
	text-align: center;
	min-height: 400px;
	color: #ffffff;
	margin-bottom: 0;
}

#banner img {
	max-width: 100%;
}

#aboutme, #howtobuy, #instagram {
	width: 30%;
	float: left;
	text-align: center;
	border: #D6BB97 2px solid;
	overflow: hidden;
	background-color: #97B2D6;
	color: #ffffff;
	min-height: 450px;
}

article a {
	color: #000000;
	text-transform: uppercase;
	font-family: serif;
	font-size: .8em;
}

article a:hover {
	text-decoration: none;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
}

article img {
	max-height: 200px;
	max-width: 200px;
	margin-top: 20px;
}

#articles {
	border-top: #ffffff 4px solid;	
}

table, th, td{
	clear: both;
	background-color: #ffffff;
	border: .5em solid #97B2D6;
	text-align: center;
}

.about {
	float: left;
	width: 70%;
	text-align: center;
	background-color: #97B2D6;
	color: #ffffff;
	margin-top: 25px;
	margin-bottom: 15px;
}

.sidepic {
	margin-top: 25px;
	float: right;
	display: inline;
}

.black {
	color: black;
}


/* Webpage layout begins to lose integrity around 897px. Styles below for tablet viewport 
@media(max-width: 897px) {
	header nav, header nav li {
		float: none;
		text-align: center;
		width: 100%;
	}
	
	.product-container {
		width: 45%;
	}
	
	.about {
		width: 80%;
		float: none;
		text-align: center;
		display: block;
	}
	
	.sidepic {
		float: none;
		margin: auto;
		display: block;
	}
}


Tablet webpage layout begins to lose integrity around 645px. Styles below for mobile viewport


@media(max-width: 645px) {
	
	header nav li {
		display: block;
	}
	
	#aboutme, #howtobuy, #instagram {
		width: 70%;
		float: none;
		text-align: center;
		border: #D6BB97 2px solid;
		overflow: hidden;
		background-color: #97B2D6;
		color: #ffffff;
		min-height: 450px;
		margin: auto;
	}
	
	.product-container {
		width: 100%;
	}
	
	#product-categories li {
		display: block;
		float: none;
	}
}



*/





