<!DOCTYPE html>
<!-- This website template was created by: Matt Ingold -->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Blue Mountain Bead Co</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="boho, beaded, handcrafted, jewelry, original, hand-made, unique, art, natural stones">
	<meta name="author" content="Matt Ingold">
	<meta name="description" content="I create handcrafted jewelry, which is inspired by the beautiful world around me. All of my pieces are unique and one-of-a-kind.">
	</head>
<body>

	<!-- Use the header area for the website name or logo -->
	<header>
		<div class="container">
				<a href="index.html"><img src="images/bmbc_logo.png" alt="BMBC logo"></a>
				<!-- Use the nav area to add hyperlinks to other pages within the website -->
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="products.html">Products</a></li>
					<li><a href="faq.html">Frequently Asked Questions</a></li>
				</ul>
			</nav>
		</div>
	</header>	
	<!-- Use the main area to add the main content of the webpage -->
	<main>

	</main>
	
	<!-- Use the footer area to add webpage footer content -->
	<footer>
		&copy; Copyright 2017. All Rights Reserved.<br>
		<a href="mailto: matthewingold@bluemountainbeadco.com">MatthewIngold@BlueMountainBeadCo.com</a>
	</footer>
	
	</div>
	
</body>
</html>